*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width:801px) {
    #titulo{
        text-decoration: none;
        color: white;
        display: inline-block;
    }
    header{
        background-color: black;
        color: white;
        width: 100%;
        text-align: center;
    }
    header h1{
        padding: 30px;
        font-size: 20px;
    }
    #hamburguesa{
        display: none;
    }
    #botonera{
        width: 100%;
        background-color: rgb(51, 51, 51);
        text-align: center;
    }
    #botonera li{
        display: inline-block;
    }
    #botonera li a{
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px;
    }
    #botonera li a:hover{
        background-color: black;
        color: lightgray;
        transition: all 1s;
    }





    main{
        background-color: grey;
        padding-bottom: 20px;
        text-align: center;
    }
    main h2{
        padding: 20px;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }




    .trabajos{
        width: 45%;
        background-color: white;
        padding: 20px;
        display: inline-block;
        margin: auto;
        margin: 10px;
        padding-bottom: 30px;
    }

    .trabajos img{
        width: 100%;
        display: block;
        margin: auto;
    }
    .trabajos h3{
        margin-top: 20px;
        margin-bottom: 30px;
    }


    .trabajos a{
        padding: 10px;
        text-decoration: none;
        background-color: tomato;
        color: white;
        border-radius: 5%;
        transition: all 0.5s;
    }
    .trabajos a:hover{
        transition: all 0.5s;
        background-color: rgb(116, 47, 35);
        padding: 20px;
    }

    
    .contenedor{
        width: 100%;
        background-color: grey;
        padding-bottom: 30px;
        text-align: center;
    }


    .contenedor h2{
        color: white;
        padding: 20px;
        font-size: 20px;
    }


    .contenedor iframe{
        margin: 10px;
        width: 30%;
        height: 300px;
    }





    footer{
        background-color: black;
        text-align: center;
        padding: 40px;
        color: white;
    }
}




















@media screen and (max-width:800px) {
    #titulo{
        text-decoration: none;
        color: white;
        display: inline-block;
    }
    header{
        background-color: black;
        color: white;
        text-align: center;
        width: 100%;
    }
    header h1{
        padding: 30px;
        font-size: 20px;
    }
    
    #hamburguesa li{
        background-image: url("imagenes/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 22px;
        margin-left: 10px;
        text-indent: -200px;
        overflow: hidden;
    }
    #hamburguesa li a{
        display: block;
        width: 40px;
        height: 40px;
        color: white;
        text-decoration: none;
    }
    #menu ul{
        list-style: none;
    }
    #hamburguesa li:last-child{
        display: none;
    }


    #botonera{
        position: absolute;
        left: -1000px;
        width: 100%;
        background-color: grey;
        transition: all 0.5s;
    }
    #botonera li a{
        color: white;
        text-decoration: none;
        padding: 20px;
        display: block;
    }
    #botonera li a:hover{
        transition: all 1s;
        background-color: rgb(51, 51, 51);
    }
    #menu:target #botonera{
        left: 0;
        transition: all 0.5s;
    }
    #menu:target #hamburguesa li:last-child{
        display: block;
    }
    #menu:target #hamburguesa li:first-child{
        display: none;
    }






    main{
        background-color: grey;
        padding-bottom: 20px;
    }
    main h2{
        padding: 20px;
        color: white;
        text-align: center;
    }




    .trabajos{
        background-color: whitesmoke;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        padding-bottom: 30px;
    }
    

    .trabajos h3{
        padding: 15px;
        margin-bottom: 20px;
    }

    .trabajos a{
        padding: 10px;
        text-decoration: none;
        background-color: tomato;
        color: white;
        border-radius: 5%;
        transition: all 0.5s;
    }
    .trabajos a:hover{
        transition: all 0.5s;
        background-color: rgb(116, 47, 35);
        padding: 20px;
    }


    .trabajos img{
        width: 90%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }

    .contenedor{
        width: 100%;
        background-color: grey;
        padding-bottom: 30px;
    }

    .contenedor h2{
        color: white;
        padding-top: 20px;
        padding-left: 20px;
        font-size: 30px;
        text-align: center;
    }

   
    
    .contenedor iframe{
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 300px;
    }



    footer{
        background-color: black;
        text-align: center;
        padding: 40px;
        color: white;
    }
}